.App{
    background: rgb(239, 69, 64);
    height: 100vh;
    background: rgb(2,0,36);
background: linear-gradient(
    168deg, 
 rgba(28,27,59,1) 0%, 
 rgba(63,63,90,1) 15%,
 rgba(136,136,221,1) 30%,
 rgba(201,72,110,1) 45%,
 rgba(0,212,255,1) 100%);
}